{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block pageheading %}login{% endblock %}

{% block main %}
<p>To sign up, click <a href="/signup">here</a></p>
<form class="myform" action="/login" method="post">
    <div class="form-group">
        <div class="form-label"><label for="user_name">Username:</label></div>
        <div class="form-element"><input type="text" id="user_name" name="user_name" /></div>
    </div>
    <div class="form-group">
        <div class="form-label"><label for="password">Password:</label></div>
        <div class="form-element"><input type="password" id="password" name="password" /></div>
    </div>
    <div class="form-group">
        <div class="form-label"> </div>
        <div class="form-element"><input type="submit" value="Login" /></div>
    </div>
</form>

{% endblock %}          
