{% extends "base.html" %}

{% block title %}menu{% endblock %}

{% block pageheading %}menu{% endblock %}

{% block main %}
<div class="categories">
    <ul>
        {% for category in categories %}
        <li>
            <a href="/menu/{{ category[0] }}">{{ category[1] }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<h3>{{ cat_name }}
    {% if logged_in %}
    (<a href="/delete_category/{{ cat_id }}/{{cat_name }}">Delete</a>)
    {% endif %}
    </h3>
<div class="products">
    {% for drink in drinks %}
    <div class="product-box">
        <a href="/item/{{ cat_id }}/{{ drink[5] }}"><h3>{{ drink[0] }}</h3></a>
        <p class="product-box-info">{{ drink[1] }}</p>
        <p><strong>Volume: </strong>{{ drink[2] }}</p>
        <p><strong>Price: </strong>${{ drink[3] }}</p>
        <p class="product-box-image"><img src="/static/images/{{ drink[4] }}.jpg" /></p>
        {% if ordering %}
        <div class="product-box-info"><a href="/add_to_cart/{{ drink[5] }}"> Add to Cart </a></div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% if logged_in %}
<form class="myform" action="/menu/{{ cat_id }}" method="post">
    <h3>Add a Product to this Category</h3>
    <div class="form-group">
        <div class="form-label">
            <label for="name">
                Product Name:
            </label>
        </div>
        <div class="form-element"><input type="text" id="name" name="name" /></div>
        <div class="error">{{ error }}</div>
    </div>
    <div class="form-group">
        <div class="form-label">
            <label for="description">
                Description:
            </label>
        </div>
        <div class="form-element"><input type="text" id="description" name="description" /></div>
    </div>
    <div class="form-group">
        <div class="form-label">
            <label for="volume">
                Volume:
            </label>
        </div>
        <div class="form-element"><input type="text" id="volume" name="volume" /></div>
    </div>
    <div class="form-group">
        <div class="form-label">
            <label for="price">
                Price:
            </label>
        </div>
        <div class="form-element"><input type="number" step="0.01" min="0.1" max="30" id="price" name="price" /></div>
    </div>
    <div class="form-group">
        <div class="form-label">
            <label for="filename">
                File Name:
            </label>
        </div>
        <div class="form-element"><input type="text" id="filename" name="filename" /></div>
    </div>

    <div class="form-group">
        <div class="form-label"> </div>
        <div class="form-element">
            <input type="submit" value="Add Item" />
        </div>

    </div>
</form>
{% endif %}
{% endblock %}

            
       